@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import "tailwindcss";

ol > li {
  position: relative;
  counter-increment: list-counter;
  padding-left: 2.5rem;
  list-style: none;
}
ol > li::before {
  content: counter(list-counter) ".";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  /* color: var(--color-rose-800); */
}

@theme {
  /* Font Families */
  --font-young-serif: "Young Serif", serif;
  --font-outfit: "Outfit", sans-serif;

  /* Colours */
  --color-white: hsl(0, 0%, 100%);

  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  --color-brown-800: hsl(14, 45%, 36%);

  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
}
